.nav {
    background-color: var(--var-preview-bg-color);
    padding: 6px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    box-sizing: border-box;
    z-index: 99;
}

.nav .left {
    display: flex;
}

.nav .right {
    display: flex;
}

nav-button {
    padding: 2px 8px;
    margin: 0px 1px;
    cursor: default;
    border-radius: 4px;
}

nav-button:hover {
    background-color: var(--var-background-color);
}

.nav .ui-button {
    padding: 0.2em 1em !important;
}

.nav .ui-state-active, .nav .ui-widget-content 
.nav .ui-state-active, .nav .ui-widget-header 
.nav .ui-state-active, .nav a.ui-button:active, 
.nav .ui-button:active, .nav .ui-button.ui-state-active:hover {
    border: 1px solid var(--var-accent-color) !important;
    background: var(--var-accent-color) !important;
    font-weight: normal;
    color: #fff;
}

.nav .ui-state-default, .nav .ui-widget-content 
.nav .ui-state-default, .nav .ui-widget-header 
.nav .ui-state-default, .nav .ui-button, 
html .nav .ui-button.ui-state-disabled:hover, 
html .nav .ui-button.ui-state-disabled:active {
    border: 1px solid var(--var-background-color) !important;
    background: var(--var-background-color) !important;
    font-weight: normal;
    color: var(--var-text-color) !important;
}

.nav .ui-widget-content {
    --var-background-color: #181818;
    --var-foreground-color: #202020;
    --var-preview-bg-color: #101010;
    --var-nav-hover-color: #292929;
    --var-text-color: #e9e9e9;
    --var-accent-color: #dd7f2f;
    --var-accent-color-transparent: #da7e2e2e;
    border: 1px solid var(--var-background-color) !important;
    background: var(--var-background-color) !important;
    color: var(--var-text-color) !important;
}

.ui-select-menu .ui-widget-content {
    border: none !important;
    background: #202020 !important;
    color: #fff !important;
}